/* Базовые цвета
background: #212121;
background: #FFFFFF;
background: #757575;
background: #2196F3;
background: #EEEEEE;
background: #000000;
background: #F5F4FA;
background: #FFFFFF99;
background: #2F303A;
background: #ECECEC;

*/ 
/* index.html*/
:root{
    --primary-text-color: #212121;
    --logo-span-color: #2196f3;
    --filler-colour: #2196f3;
    --contact-links-color: #757575;
    --filler-text-color: #757575;
    --hero-background-color: #2F303A;
    --hero-text-color: #ffffff;
    --footer-background-color:#2F303A;
    --portfolio-buttons-background-color:#F5F4FA;
    --clients-colour: #AFB1B8;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

body {
   
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--primary-text-color) ;
    cursor: pointer;
}
body,
h1,
h2,
h3,
h4,
p,
ul,
ol{
  margin: 0px;
  padding: 0px;
}
.header-outline{
    width: 1230px;
    height: 80px;
}
.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 15px 0px 15px;
}
.logo {
    height: 80px;
    padding-top: 24px;
    padding-bottom: 25px;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.logo-colour {
    
    color: var(--logo-span-color);
}

li{
    list-style-type: none;
}   
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    display: block;
    height: auto;


}
/* Header and etc. */
.header-division{
    
    display: flex;
    
}
.container-header{
    height: 80px;
    align-items: center;
    display: flex;
}
.nav-list{
    height: 80px;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-left: 93px;
    
    
}

.site-nav {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1 );
}
.site-nav-list:first-child{
    margin-left: 0px;
}
.site-nav-list{
    
    margin-left: 50px;
    
}
.site-nav::after{
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--filler-colour);

    transform: scaleX(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1 );
}
.site-nav:hover,
.site-nav:focus,
.site-nav:active {
    color: var(--logo-span-color);
    cursor: pointer;
}
.site-nav:hover::after,
.site-nav:focus::after,
.site-nav:active::after{
    display: block;
    transform: scaleX(1
    );
    
    
}
.auth-list{
    display:  flex;
    margin-left: auto;
    
}
.auth-nav{   
    display: flex;
    align-items: center;
    width: 161px;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--contact-links-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1 ), fill 250ms cubic-bezier(0.4, 0, 0.2, 1 );
}
.auth-nav-element:first-child{
    display: flex;
    margin-right: 30px;
    align-items: baseline;
}
.auth-nav:hover,
.auth-nav:focus{ 
    fill: var(--logo-span-color);
    color: var(--logo-span-color);
}
.header-icons{
    margin-right: 10px;
    fill: currentColor;
}
/* Hero */
.hero{
    display: flex;
    background: var(--hero-background-color);
    align-content: center;
    align-items: center;
    width: 1600px;
    margin: 0 auto;
    
}
.hero-text{
    width: 696px;
    margin: 0 auto;
}
/* .modal{
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.backdrop .is-hidden{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;

} */
/* .backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    visibility: visible;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1 ) visibility 250ms cubic-bezier(0.4, 0, 0.2, 1 );

} */
.overlay{
    display: inline-block;
    align-items: center;
    width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herobackground.jpg);
}
.hero-text{
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hero-text-color);
}
.button-block{
    margin-left: auto;
    margin-right: auto;
    width: 202px;
    height: 50px;
    border-radius: 4px;
    background-color: var(--filler-colour);
}
.hero-button{
    height: 50px;
    padding: 10px 32px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1,87;
    letter-spacing: 0.06em;
    background-color: inherit;
    color: var(--hero-text-color);
    z-index: 2;
}
.section{
    padding: 94px 0;
}
/* Adventeges */
.adventeges-block{
    display: flex;
    text-align: left;
    
}

.adventeges-block-element{
    margin-left: 30px;
}
.adventeges-block-element::before{
    display: block;
    content: "";
    margin-bottom: 30px;
    height: 120px;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
}
.icon-sattelite::before{
    background-image: url("../images/Presprite/sattelite.svg");
}
.icon-clock::before{
    background-image: url("../images/Presprite/clock.svg");
}

.icon-diagrame::before{
    background-image: url("../images/Presprite/diagrame.svg");
}

.icon-austronavt::before{
    background-image: url("../images/Presprite/austronavt.svg");
}

.adventeges-header-start{
    
}

.adventeges-block-element:first-child{
    margin-left: 0px;
}

.adventeges-header-text{
    
    margin-bottom: 10px;
    width: 270px;
    height: 16px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: inherit;
}

.adventeges-text{   
    height: 75px;
    width: 270px;
    font-size: 14px;
    line-height: 1.71;
    color: var(--contact-links-color);
}
/* What we do */
.what-we-do{
    
    padding-top: 0px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em ;
    color: inherit;
}
.what-we-do-list{
    display: flex;
    align-content: center;
    
}
.what-we-do-element{
    position: relative;
    height: 294px;
}
.what-we-do-element:not(:first-child){
    margin-left: 30px;
}
.what-we-do-element::after{
    content: 'ДЕСКТОПНЫЕ ПРИЛОЖЕНИЯ';
    display: flex;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    justify-content: center;
    color: var(--hero-text-color);
    letter-spacing: 0.03em;
    background-color: rgba(47, 48, 58, 0.8);

}
.what-we-do-element:nth-child(2)::after {
    content: 'МОБИЛЬНЫЕ ПРИЛОЖЕНИЯ';
}
.what-we-do-element:nth-child(3)::after {
    content: 'ДИЗАЙНЕРСКИЕ РЕШЕНИЯ';
}
.what-we-do-header{
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
}
/* Team */
.team-section{
    
    font-weight: 900;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: inherit;
    background-color: #F5F4FA;
}
.team-section-header{
    
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

color: var(--primary-text-color);
}
.team-list{
    margin-top: 50px;
    display: flex;
    
}
.team-list-elements{
    width: 270px ;
    background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.team-list-border{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;
}
.team-list-elements:not(:first-child){
    margin-left: 30px;
}
.team-header-text{
    margin-bottom: 10px;
    font-weight: 500 ;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: inherit;
}
.team-text{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--contact-links-color);
}
.team-links-list{
    display: flex;
    justify-content: space-between;
}
.team-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--hero-text-color);
    transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1 );
    
}
.social-team-svg{
    width: 22px;
    height: 22px;
    fill: var(--clients-colour);
    transition:  fill 500ms cubic-bezier(0.4, 0, 0.2, 1 ), 
}
.team-link:hover .social-team-svg,
.team-link:focus .social-team-svg{
    fill: var(--hero-text-color);
}
.team-link:hover,
.team-link:focus{
    background-color: var(--filler-colour);
    
}


/* Clients */
.clients-section-header{
    
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
}
.clients-list{
    margin-top: 50px;
    display: flex;

}
.clients-element{
    
   
}
.clients-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    outline: transparent;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    border-color: var(--clients-colour);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1 );
}

.clients-element:not(:first-child){
    margin-left: 30px;
}

.client-icon{
    width: 106px;
    height: 60px;
    fill: var(--clients-colour);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1 );
}
.clients-link:hover .client-icon,
.clients-link:focus .client-icon{
    border-color: var(--filler-colour);
    fill: var(--filler-colour);
}
.clients-link:hover,
.clients-link:focus{
    border-color: var(--filler-colour);
}

/* Footer */
.footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footer-background-color);
    
}
.bottom{
    display: flex;
    align-items: baseline;
}
.logo-footer {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--hero-text-color);
}
.logo-footer-colour{
    color: var(--logo-span-color);
}
.logo-block{

}
.footer-adress{
    display: inline-flexbox;
    justify-content: flex-start;
    

}

.footer-second-link{
    display: flex;
    width: 231px;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
}
.footer-list-element:not(:last-child){
    margin-bottom: 9px;
}


.footer-first-link {
    
    display: flex;
    width: 231px;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: var(--hero-text-color);
}
.follow-us{
    margin-left: 70px;
    
    
}
.follow-us-text{
    
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
margin-bottom: 20px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--hero-text-color);
}
.follow-block{
    display: flex;
}
.follow-block-element{
    
    
}
.follow-block-element:not(:first-child){
    margin-left: 10px;
}
.footer-social-links{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1 );
  
}
.social-footer-svg{
    width: 20px;
    height: 20px;
    background-position: center;
    fill: var(--hero-text-color);

}
.footer-social-links:hover,
.footer-social-links:focus{
    background-color: var(--filler-colour);
}


/* Portfolio.html */

.header-outline-portfolio{
    border: 1px solid #ECECEC;
    
}

.filler-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    
}
.filler-element:not(:first-child){
    margin-left: 8px;
}
.filler-buttons{
    border: none;
    font-size: 16px;
    padding: 6px 22px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--portfolio-buttons-background-color);
    cursor: inherit;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1 ), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1 );
}


.filler-buttons:hover,
.filler-buttons:focus{
    color: var(--hero-text-color);
    background: var(--filler-colour);
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}
.project-section{
    padding-bottom: 94px;

}
.portfolio-projects{
    display: flex;
    flex-wrap: wrap;
    
}
.projects-element{
    background: #FFFFFF;
    box-sizing: border-box;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1 );
}
.projects-element{
    margin-left: 30px;

}
.projects-element:hover,
.projects-element:focus{
    outline: transparent;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects-box{
    padding: 20px 24px;
    border-left: 1px solid #EEEEEE; 
    border-right: 1px solid #EEEEEE ;
    border-bottom: 1px solid #EEEEEE;
    
}
.projects-element:nth-child(-n+6){
    margin-bottom: 30px;
}
.projects-element:nth-child(3n+1){
    margin-left: 0px;
}
.projects-img{
}
.portfolio-header-text{
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}
.portfolio-text{
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--contact-links-color);
}